node_modules

.env

# Output
.output
.vercel
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
#lock files
package-lock.json
yarn.lock
pnpm-lock.yaml
